<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">List of Courses </h2>
    </div>
    <div class="panel-body">

        <button type="button" class="btn btn-danger" [routerLink]="['/courses/add']">Add Course</button>

        <table class="table table-bordered table-hover" [style.margin-top.px]="20">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of courses;index as i ">
                    <td>{{ i+1 }}</td>
                    <td>{{ course.name}}</td>
                    <td>{{ course.description }}</td>
                    <td>{{ (course.fee > 0 )?  (course.fee | currency:'USD' : true) : 'Free' }}</td>
                    <td class="col-sm-2">
                        <button type="button" class="btn btn-info"
                            [routerLink]="['/courses', course.id ,'edit']">Edit</button>
                        |
                        <button type="button" class="btn btn-warning"
                            (click)="onDeleteCourse(course.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>